Telethon[cryptg]
uvloop
ujson
waitress
orjson
aiohttp
ffmpeg-python
flask
psutil
python-dotenv
msgpack-python
hiredis
pydantic
cryptg
aiohttp
cryptg
ffmpeg-python
flask
hiredis
msgpack-python
orjson
psutil
pydantic
python-dotenv
Telethon[cryptg]
ujson
uvloop
waitress